.download { float: right; }

p.narrow {
    width: 80%;
    margin-left: 50px;
}
#ribbon {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}

#preamble {
    font-size: -25%;
    text-indent: 3ex;
    font-style: italic;
    padding: .5ex;
    padding-left: 1.5ex;
}

#blog-toc, #related, .float {
    float: right;
    margin: 10px;
}

#related, .float {
    width: 40%;
    border: 1px solid #D0d0d0 !important;
    padding: 12px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent !important;
}

.float.left {
    float: left;
}

.toc-title {
    font-weight: bold;
}

.post-date {
    font-family: monospace;
}
.blog-toc-item {
    font-size: 10px;
    font-weight: normal !important;
    padding: 0;
    margin: 0;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
}

.blog-toc-item>a{
    font-weight: normal;
    text-indent: 0;
    padding: 0;
    margin: 0;
}
.blog-toc-item:hover
{
    border-top: 1px dotted #999970;
    border-bottom: 1px dotted #999970;
    padding-bottom: 0px;
    padding-top: 0px;
}
