.gist {
  margin: 15px 0 !important; }

.gist-file {
  font-size: 12px !important;
  background-color: transparent !important;
  border: 0; }

.gist-meta {
  background-color: transparent !important; }

.gist-data {
  padding: 15px !important;
  border: 1px solid #d0d0d0;
  padding: 12px !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent !important;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 10px; }

td.line-numbers {
  background-color: transparent !important; }

pre.line-pre {
  border: 0; }
