#TOC {
  font-weight: bold; }

#toc_title {
  color: #595930;
  padding-left: 10px;
  padding-right: 10px; }

.toc-title {
  font-weight: bold; }

.blog-toc-item {
  font-size: 10px;
  font-weight: normal !important;
  padding: 0;
  margin: 0;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1px;
  padding-bottom: 1px; }
  .blog-toc-item > a {
    font-weight: normal;
    text-indent: 0;
    padding: 0;
    margin: 0; }
  .blog-toc-item:hover {
    border-top: 1px dotted #999970;
    border-bottom: 1px dotted #999970;
    padding-bottom: 0px;
    padding-top: 0px; }
