
$very_light: #f1f1c9
$light_olive: #e1e2b9
$light_olive2: #d1d2a9
$light_olive3: #c1c299
$darker: #b1b299
$darker_more: #999970
$darker_more2: #777750
$olive_dark: #595930
$more2: #333300
$blue_links: #2255aa
$blue_bg: #052D6C
$yellow: #DBD6CD
$brown: #8B0B04
$orange: #D9A005

$headers: $olive_dark

$main_font: Verdana, Geneva, Arial, Helvetica, sans-serif
$italic_font: 'kepler-std', Georgia, Times, serif

$link_color: $brown
