<div class="download">
  <h2>Source code</h2>
  <div class="download links">
    <a href="https://github.com/dmytro/{{ page.github_project }}/zipball/master"><img border="0" src="https://github.com/images/modules/download/zip.png"></a><a href="https://github.com/dmytro/{{ page.github_project }}/tarball/master"><img border="0" src="https://github.com/images/modules/download/tar.png"></a>
  </div>
  <ul>
    <li>Download {{ page.github_project }} in either zip or tar formats &rArr;
    <li>Clone {{ page.github_project }}
    with <a href="http://git-scm.com">git</a> <pre> $ git clone git://github.com/dmytro/{{ page.github_project }}</pre>
    <li>or go to <a href="http://github.com/dmytro/{{ page.github_project }}">{{ page.github_project }}'s Github repository &raquo;</a>
  </ul>       
</div>
