<div id="tiki-bot">
  <table style="border-:0; border-top: 10px solid #000; margin: 0; padding: 0; " cellspacing="0" cellpadding="0" width="100%" columns="2">
  <tbody><tr style="padding: 0; margin: 0;"> 
<td style="width: 80%; background-color:#052D6C;  color:#8b0b04; font-style: italic; font-wight: bold; text-align: right; border:0;">
<br clear="all">
<br clear="all">
<br clear="all">
<br clear="all">
</td><td style="border: 0;border-left: 10px solid #000; width:120px;"><a style="padding: 2ex; bottom: 0; right: 0;" class="link" href="mailto:dmytro.kovalov@gmail.com">дмитро ковальов</a></td>
</tr></tbody></table>
</div>
