<p>{% if page.url == "/index.html" %}{% else %}<a class="top" href="/">TOP</a>{% endif %}</p>


<h1>Selected projects</h1>


{% for pg in site.pages %}
{% if pg.title %}{% if pg.featured %}
<a href="{{ pg.url }}">{{ pg.title }}</a>
{% endif %}{% endif %}
{% endfor %}

<h1 >Blog</h1>

{% for p in site.posts limit:10 %}
<a href="{{ p.url }}">{{ p.date | date_to_string }} &raquo;  {{ p.title}} </a>
{% endfor %}

<a href="/posts.html"><b>All blog posts &raquo; &raquo; </b></a>

<h1>About</h1>

<a href="http://uk.wikipedia.org/wiki/%D0%AF%D1%80%D0%B8%D0%BB%D0%BE">Ярило, Yarylo, Jarilo</a>
<a href="http://github.com/dmytro"> @ github</a>
<a href="http://search.cpan.org/~dmytro"> @ CPAN</a>
<a href="http://tinyurl.com/7j89dhl"> Dmytro (CV)</a>

