{% include localizations.html %}
{% if page.series %}
<div id="series">
<hr class="thin">
{% capture series %}{{ page.series }}{% endcapture %}
{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="seriesNote">

    <div class="italic">
{% case page.language %}
{% when 'ukrainian'  %} Ця стаття {{ idx }}-а з {{ count }}-х статей циклу.
{% else %} This article is Part {{ idx }} in a {{ count }}-Part Series.
{% endcase %}
</div>
   <a href="/series/{{series | transliterate}}"><h3>{{series}} (See all &raquo;)</h3></a>
	{% assign count = '0' %}
	{% for post in site.posts reversed %}
	{% if post.series == series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <div class="small" style="display: block;">{{ tr_part }} {{ count }} -
		  {% if page.url == post.url %}{{ tr_this_article }}
		  {% else %}
			  <a href="{{post.url}}">{{post.title}}</a>
		  {% endif %}
        </div>
	{% endif %}
	{% endfor %}
</div>

{% assign count = nil %}
{% assign idx = nil %}
</div>
{% endif %}

