<div id="tiki-top">
<table style="margin: 0; padding: 0;" cellspacing="0" cellpadding="0" width="100%" columns="3"><tbody><tr style="padding: 0; margin: 0;">
 <td style="width:120px; 
 	    background-color:#D9A005;  
	    color:#8b0b04; 
            font-style: italic; 
	    font-wight: bold; 
	    text-align: right; 
	    border:0; 
	    border-right: 10px solid #000;">
           <p style="font-size: 10px;" id="top_bar_motto">Лупайте сю скалу...<br> Іван Франко</p>
 </td>
 <td style="border:0;">
    <a href="http://yarylo.sytes.net/"><img align="right" border="0" src="/images/yarylo.gif"></a>
    <br clear="all"><div id="top_bar_title">
    <a href="http://yarylo.sytes.net/dmytro" style="color: #8B0B04;">Уроки пані Маєш</a>
   </div>
 </td>
 <td style="border: 0;border-left: 10px solid #000; width:200px; background-color:#8B0B04;">
 <p class="editdate" style="font-size: small; padding: 2ex; margin: 0; color: #D9A005">

{{ site.time | date_to_long_string }}

  </p>
</td>
</tr></tbody></table>  </div>
