<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>dmytro @ GitHub</title>

<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>

<a href="https://github.com/dmytro/{{ page.github_project }}">
<img id="ribbon" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<div id="container">

{% if page.github_project %}
<div class="download">
      <a href="https://github.com/dmytro/{{ page.github_project }}/zipball/master">
        <img border="0" width="90" src="https://github.com/images/modules/download/zip.png"></a>
      <a href="https://github.com/dmytro/{{ page.github_project }}/tarball/master">
        <img border="0" width="90" src="https://github.com/images/modules/download/tar.png"></a>
    </div>
{% endif %}


{{ content }}

{% if page.license %}
    <h2>License</h2> <p><a href="http://github.com/dmytro/{{ page.github_project}}/LICENSE">{{ page.license }}</a></p>
{% endif %}

{% if page.github_project %}

    {% include email.html %}
    {% include download.html %}

{% endif %}

</div>
<br clear="all">
    <div class="footer">
      <a href="mailto:dmytro.kovalov@gmail.com">Dmytro Kovalov</a><br>
      <a href="https://github.com/dmytro">dmytro @ GitHub </a><br>
      <a href="http://dmytro.sytes.net">dmytro.sytes.net</a>
    </div>


</body>
</html>