<!DOCTYPE html>
<html><head><meta charset='utf-8'>

  <title>dmytro @ GitHub</title>

{% include head.html %}

</head>
<body>
{% if page.url == "/index.html" %}{% else %}<a href="/">Back</a>{% endif %}

<a href="https://github.com/dmytro/{{ page.github_project }}">
<img id="ribbon" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<div id="container">

{% include download_top.html %}

{{ content }}

{% if page.license %}
    <h2>License</h2> <p><a href="http://github.com/dmytro/{{ page.github_project}}/LICENSE">{{ page.license }}</a></p>
{% endif %}

{% if page.github_project %}

    {% include email.html %}
    {% include download.html %}

{% endif %}

</div>

{% include footer.html %}

</body>
</html>