{% include yarylo/html_head.html %}

{% include ribbon.html %}

{% include yarylo/yarylo_top.html %}

  <div id="tiki-mid">
    <table border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
      <td id="leftcolumn"> {% include left.html %} </td>
      <td id="centercolumn">


<div class="wikitext">
<div class="titlebar">
    {% if page.title %} {{ page.title }}
    {% else %} Projects
    {% endif %}
</div>

{% include download_top.html %}

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li class="blog-toc-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

{% if page.tags %}<p><h3>Tags</h3>: {% for tg in page.tags %}<a href="/tags.html#{{ tg }}">{{tg}}</a> : {% endfor %}</p>{% endif %}
<div id="series">{% include series.html %}</div>
</div>

  {% include toc.html %}

<div id="content">

    {{ content }}

{% if page.github_project %}
    {% include email.html %}
    {% include download.html %}
{% endif %}

</div> <!-- content -->

  <hr>
{% include blog_toc.html %}

  
</table>


{% include yarylo/footer.html %}

</body></html>