<div id="tiki-bot">
  <table style="border-:0; border-top: 10px solid #000; margin: 0; padding: 0; " cellspacing="0" cellpadding="0" width="100%" columns="2">
  <tbody><tr style="padding: 0; margin: 0;"> 
<td style="width: 80%; background-color:#052D6C;  color:#8b0b04; font-style: italic; font-wight: bold; text-align: right; border:0;">
<br clear="all"><br clear="all"><br clear="all"><br clear="all">
</td><td style="border: 0;border-left: 10px solid #000; width:120px; padding: 5px;">
<a class="address" href="mailto:dmytro.kovalov@gmail.com">дмитро ковальов</a></br>
<a class="address" href="https://dmytro.github.com/">dmytro @ github </a><br>
<a class="address" href="http://dmytro.sytes.net">dmytro.sytes.net</a><br>
</td>
</tr></tbody></table>
</div>
{% include tag_cloud.js %}
