<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>dmytro @ GitHub {% if page.title %} : {{ page.title }}{% endif %}</title>

<link rel="icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/dmytro.css" type="text/css">
<link rel="stylesheet" href="/css/gist.css" type="text/css">
<link rel="stylesheet" href="/css/blog.css" type="text/css">
<meta name="thefeedbackbutton" content="Github:ed4d541b3268b2dc5250684b57864d">
<script type="text/javascript" src="http://www.thefeedbackbutton.com/button.js"></script>
</head><body>
