<div id="tiki-top">
<table style="margin: 0; padding: 0;" cellspacing="0" cellpadding="0" width="100%" columns="3"><tbody><tr style="padding: 0; margin: 0;">
 <td style="width:120px; 
background-color:#D9A005;  
color:#8b0b04; 
font-wight: bold; 
text-align: right;
padding: 1em;
padding-top: 2em;
border:0; 
border-right: 10px solid #000;">
<p class='italic plus'>Лупайте сю скалу...</p><br><p class='italic' style="text-indent: 3ex">Іван Франко</p>
</td>
 <td style="border:0;">
    <a href="http://yarylo.sytes.net/"><img align="right" border="0" src="/images/yarylo.png"></a>
    <br clear="all"><div id="top_bar_title">
    <a href="http://yarylo.sytes.net/dmytro" style="color: #8B0B04;">Уроки пані Маєш</a>
   </div>

<div style="float: left">
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
<div align="right" class="g-plusone" data-size="medium"></div>
</div>

</td>
 <td style="border: 0;border-left: 10px solid #000; width:200px; background-color:#8B0B04;">
   <p class="editdate" style="font-size: small; color: #D9A005; margin: 5px; margin-top: 100px; margin-right: 80px;">
     {{ site.time | date_to_long_string }}
   </p>
 </td>
</tr></tbody></table>  </div>
